{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Description</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>

    <label for="advantage">Avantage</label>
    <textarea name="advantage" id="advantage">{{ request.form['advantage']}}</textarea>

    <label for="drowback">Inconvenient</label>
    <textarea name="drowback" id="drowback">{{request.form['drowback']}}</textarea>
    
    <p><a href="{{ url_for('upload.upload') }}">Upload</a></p>

    <input type="submit" value="Save">
  </form>
{% endblock %}