<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Musée des engrenages</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<html>
<head>
<style>
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>


<article class="all-browsers">
  <h1>Lien vers les resources utilisé </h1>
  <p><a href="https://www.sarl-dassonville.com/dimensions-elements-dun-engrenage/">Voir le type d'engrenage</a></p>
  <p><a href="https://flask.palletsprojects.com/en/2.2.x/">Documentation du Flask</a></p>
  <p><a href="https://www.w3schools.com/html/default.asp">Tutoriel du HTML</a></p>


<footer>
  <p>Author: Brice,Kewser<br>
  <a href="Arigato@example.com">Arigato@example.com</a></p>
</footer>

</body>
</html>
